Node-RED Flows/Node-REDSensor Connection.json
[{"id":"dc5e627a.00da5","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"7d03bab1.476454","type":"ibmiot in","z":"dc5e627a.00da5","authentication":"apiKey","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"","eventType":"accel","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":false,"allEvents":"","allCommands":"","allFormats":"","qos":"0","x":140,"y":260,"wires":[["4d5e4fc8.64016"]]},{"id":"4d5e4fc8.64016","type":"json","z":"dc5e627a.00da5","name":"JSON EDIT","property":"payload","action":"","pretty":false,"x":350,"y":260,"wires":[["265a9366.7b9b6c"]]},{"id":"d9d46dd3.392cc","type":"debug","z":"dc5e627a.00da5","name":"DEBUG","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":680,"y":160,"wires":[]},{"id":"265a9366.7b9b6c","type":"file","z":"dc5e627a.00da5","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":510,"y":260,"wires":[["d9d46dd3.392cc","b4b9f696.ba35d8"]]},{"id":"b4b9f696.ba35d8","type":"ibmiot out","z":"dc5e627a.00da5","authentication":"apiKey","apiKey":"","outputType":"cmd","deviceId":"","deviceType":"1.0.6","eventCommandType":"text","format":"json","data":"{\"d\":{\"value\":\"text\"}}","qos":"","name":"IBM IoT App Out","service":"registered","x":690,"y":300,"wires":[]}]